header {
    display: flex;
    background: #eee;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    padding:10px 30px;
    position:fixed;
    top:0;
    z-index: 1000;
    width:calc(-60px + 100%);
    box-shadow:0 2px 2px rgba(0,0,0,.1)
}

header .LogoGroup {
    display: flex;
    width: 60px;
    gap:15px;
}

header .LogoGroup h1 {
    display:block;
    width:100%;
    font-size:12px;
    font-weight: bolder;
}

header .LogoGroup img {
    
}