

h1 {
    color:#fff;
    text-align: center;
    margin:auto;
    font-family: Oswald;
    text-transform: uppercase;
}

.banner {
    display:block;
    width: 100%;
    height: 100vh;
    color:#fff;
    background: url('../../../public/images/banner.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    /* filter: brightness(60%) */
}

.banner:before {
    content: '';
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
}

.text{
    display:block;
    color:#fff;
    top:30%;
    position:absolute;
    left: 20px;
    opacity: .9;
    z-index: 10;
}

.banner .tekst_sverhu_kartinki {
    font-size:70px;
    font-weight: bold;
}


.text_name {
    font-size:20px;
    font-weight: bold;
}

.box{
    display: flex;
    gap: 20px;
    width: 90%;
    height: fit-content;
    margin: auto;
    justify-content: center;
    color:#fff;
}
.box .box1{
    width: 25%;
    display: block;
}
.box .box1 a.preview-picture {
    height:200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position:relative;
}

.box img {
    width:10px
}

